.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-900);
}

.headerContent {
  a {
    display: inline-block;
    position: relative;
    padding: 0 0.5rem;
    line-height: 5rem;
    color: var(--gray-300);

    transition: color 0.2s;

    & + a {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--white);
      font-weight: bold;
      text-decoration: underline solid purple 0.3rem;
      cursor: pointer;
    }
  }
  .toggleContainer {
    background-color: #ccc;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 1rem;
  }
}
